In [25]:
import pandas as pd
import numpy as np
f
#data = pd.read_csv("./data/daily_reports.csv", index_col="Country_Region")
# 데이터를 읽어들이는 단계에서 index_col옵션을 이용하여 인덱스가 되는 컬럼을 지정할수 있다
data = pd.read_csv("./data/daily_reports.csv")
daily_df = data[["Country_Region","Confirmed", "Deaths", "Recovered"]]
daily_df = daily_df.groupby("Country_Region").sum()
daily_df.reset_index()

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      69130    2881    57119.0
1               Albania     132285    2448   129097.0
2               Algeria     128198    3455    89232.0
3               Andorra      13693     127    13416.0
4                Angola      33944     749    27577.0
..                  ...        ...     ...        ...
188             Vietnam       6396      47     2896.0
189  West Bank and Gaza     307569    3489   300125.0
190               Yemen       6723    1316     3375.0
191              Zambia      94430    1275    91443.0
192            Zimbabwe      38918    1592    36563.0

[193 rows x 4 columns]

In [23]:
sample = pd.DataFrame({"a":["orange", "apple", "orange", "apple"], "b":[3242, 42223, 164, 957]})
sample.groupby("a", sort=False).sum()

            b
a
orange   3406
apple   43180