In [14]:
import pandas as pd

daily_df = pd.read_csv("./data/daily_reports.csv")
"----------------------------------------------------------------"
totals_df = daily_df[["Confirmed", "Deaths", "Recovered"]
                     ].sum().reset_index(name="count")
totals_df = totals_df.rename(columns={"index": "condition"})

countries_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
countries_df = countries_df.groupby("Country_Region").sum().reset_index()
countries_df = countries_df.rename(columns={"Country_Region":"Country Region"})
new_df = countries_df.sort_values("Confirmed", ascending=False)[:8]

In [40]:
# new_df.iloc[0]
# new_df.values
np = new_df.to_numpy()
for i in np:
    print(i)

['US' 33239700 593955 0.0]
['India' 27555457 318895 24893410.0]
['Brazil' 16391930 459045 14492701.0]
['France' 5708350 109452 390196.0]
['Turkey' 5228322 47134 5083099.0]
['Russia' 4986458 118386 4607276.0]
['United Kingdom' 4493582 128030 15480.0]
['Italy' 4209707 125919 3837518.0]

In [7]:
country_df = pd.DataFrame({"Country":[j for i in test_df.index for j in test_df["Country Region"]],
                           "Total":[j for i in test_df.index 
                                    for j in [test_df["Confirmed"].iloc[i], 
                                              test_df["Deaths"].iloc[i], 
                                              test_df["Recovered"].iloc[i]]],
                           "Status": [status for status in test_df.columns[1:4] for j in test_df.index]
                        })

total_df = pd.DataFrame({"Total":[j.iloc[i] for j in [test_df["Confirmed"], 
                                              test_df["Deaths"], 
                                              test_df["Recovered"]] for i in test_df.index]})
# test_df.columns[1:4]

status_df = pd.DataFrame({"Status": [status for status in test_df.columns[1:4] for j in test_df.index]})
total_df

      Total
0   69130.0
1  132285.0
2  128198.0
3    2881.0
4    2448.0
5    3455.0
6   57119.0
7  129097.0
8   89232.0

In [41]:
daily_df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-05-29 04:20:41,33.939110,67.709953,69130,2881,57119.0,9130.0,Afghanistan,177.582703,4.167510
1,NaN,NaN,NaN,Albania,2021-05-29 04:20:41,41.153300,20.168300,132285,2448,129097.0,740.0,Albania,4596.740566,1.850550
2,NaN,NaN,NaN,Algeria,2021-05-29 04:20:41,28.033900,1.659600,128198,3455,89232.0,35511.0,Algeria,292.348805,2.695050
3,NaN,NaN,NaN,Andorra,2021-05-29 04:20:41,42.506300,1.521800,13693,127,13416.0,150.0,Andorra,17722.125154,0.927481
4,NaN,NaN,NaN,Angola,2021-05-29 04:20:41,-11.202700,17.873900,33944,749,27577.0,5618.0,Angola,103.279143,2.206576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3979,NaN,NaN,NaN,Vietnam,2021-05-29 04:20:41,14.058324,108.277199,6396,47,2896.0,3453.0,Vietnam,6.570878,0.734834
3980,NaN,NaN,NaN,West Bank and Gaza,2021-05-29 04:20:41,31.952200,35.233200,307569,3489,300125.0,3955.0,West Bank and Gaza,6029.090747,1.134380
3981,NaN,NaN,NaN,Yemen,2021-05-29 04:20:41,15.552727,48.516388,6723,1316,3375.0,2032.0,Yemen,22.540760,19.574595
3982,NaN,NaN,NaN,Zambia,2021-05-29 04:20:41,-13.133897,27.849332,94430,1275,91443.0,1712.0,Zambia,513.654406,1.350207
3983,NaN,NaN,NaN,Zimbabwe,2021-05-29 04:20:41,-19.015438,29.154857,38918,1592,36563.0,763.0,Zimbabwe,261.846136,4.090652