In [71]:
import pandas as pd

data = pd.read_csv("./data/daily_reports.csv", index_col="Country_Region")
# 데이터를 읽어들이는 단계에서 index_col옵션을 이용하여 인덱스가 되는 컬럼을 지정할수 있다
print(type(data))
data.head()

<class 'pandas.core.frame.DataFrame'>

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
Country_Region,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,2021-05-29 04:20:41,33.93911,67.709953,69130,2881,57119.0,9130.0,Afghanistan,177.582703,4.167510
Albania,NaN,NaN,NaN,2021-05-29 04:20:41,41.15330,20.168300,132285,2448,129097.0,740.0,Albania,4596.740566,1.850550
Algeria,NaN,NaN,NaN,2021-05-29 04:20:41,28.03390,1.659600,128198,3455,89232.0,35511.0,Algeria,292.348805,2.695050
Andorra,NaN,NaN,NaN,2021-05-29 04:20:41,42.50630,1.521800,13693,127,13416.0,150.0,Andorra,17722.125154,0.927481
Angola,NaN,NaN,NaN,2021-05-29 04:20:41,-11.20270,17.873900,33944,749,27577.0,5618.0,Angola,103.279143,2.206576

In [85]:
source = data[[ "Confirmed", "Deaths", "Recovered"]]
source = pd.DataFrame({"total":source.sum()})
source

                 total
Confirmed  169296672.0
Deaths       3519492.0
Recovered  106348468.0

In [99]:
dataframe = pd.DataFrame(["1"={}, "2", "3"])
dataframe[0]

SyntaxError: invalid syntax (<ipython-input-99-e0bbe9912dbc>, line 1)

In [95]:
series = pd.series(["1","2","3"])

AttributeError: module 'pandas' has no attribute 'series'